.block-align-center {
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.block-vertical-layout {
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  flex-flow: column;
}

.block-horizontal-layout, .block-vertical-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.block-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
