.m-t-16{
  margin-top: 16px;
}
.m-t-8{
  margin-top: 8px;
}
.m-t-24{
  margin-top: 24px;
}

.m-b-8{
  margin-bottom: 8px;
}
.m-b-16{
  margin-bottom: 16px;
}
.m-b-24{
  margin-bottom: 24px;
}
.m-b-32{
  margin-bottom: 32px;
}
.m-b-40{
  margin-bottom: 40px;
}
.m-b-48{
  margin-bottom: 48px;
}
.m-b-56{
  margin-bottom: 56px;
}
.m-b-64{
  margin-bottom: 64px;
}

.m-b-64{
  margin-bottom: 64px;
}

.p-32{
  padding: 32px !important;
}
