#mobile-container {
	width: 100%;
	margin: 0 auto;
	color: #666666;
	background-color: #FFFFFF;

	.menuIcon {
		font-size: 30px;
	}

	#wrapper {
		display: block;
		width: 100%;
		height: 100%;

		.bookBox {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			color: #999999;
			background-color: #ffffff;

			&.default {
				background-color: #ffffff;
			}

			&.bright {
				background-color: #FFDDAA;
			}

			&.eyeProtection {
				background-color: #BFE2CB;
			}

			&.night {
				background-color: #141414;
			}

			.top, .bottom {
				height: 40px;
				margin: 0 4%;
				color: #999999;
				font-size: 14px;
				line-height: 20px;
				user-select: none;

				p{
					width: 100px;
					color: #999999;
					float: left;
				}

				span {
					display: block;
					width: 100%;
					height: 20px;
				}
			}

			.top {
				padding-top: 20px;
				i {
					position: absolute;
					top: -2px;
					right: 16px;
					color: #FF0000;
					font-size: 28px;
					line-height: 32px;
					cursor: pointer;
				}
			}

			.bottom {
				padding-bottom: 20px;

				span {
					text-align: right;
				}
			}

			#book {
				width: 100%;
				height: calc(100% - 80px);
			}
		}
	}

	.arrow {
		position: absolute;
		top: 50%;
		margin-top: -32px;
		font-size: 64px;
		color: rgba(34, 36, 48, 1);
		font-family: arial, sans-serif;
		font-weight: bold;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 40px;
		height: 150px;
		border: 1px solid rgba(34, 36, 48, 1);
		opacity: 0.2;
		border-radius: 6px;
		line-height: 130px;
		text-align: center;
	}

	.drawer-container {
		display: block;
		width: 90%;
	}

	#progress {
		display: block;
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
		background: #FFFFFF;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

		.title {
			height: 41px;
			padding: 0 12.5%;
			color: #333333;
			font-size: 14px;
			line-height: 40px;
			border-bottom: 1px solid rgba(34, 63, 238, 0.2);

			p {
				width: calc(100% - 60px);
				float: left;
			}

			span {
				width: 60px;
				float: right;
				text-align: right;
			}
		}

		.sliderBox {
			width: 100%;
			height: 50px;

			.slider {
				width: 75%;
				padding: 6px 0;
				float: left;
			}

			.left, .right {
				width: 12.5%;
				float: left;
				color: #223FEE;
				line-height: 50px;
				text-align: center;
				i {
					font-size: 20px;
					font-weight: bold;
				}
			}
		}
	}

	#toolTips {
		width: 300px;
		height: 120px;
		position: fixed;
		background: rgba(0, 0, 0, 0.9);
		border-radius: 10px;
		z-index: 1100;

		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			margin: auto;
			border: 5px solid transparent;
			border-top-color: rgba(0, 0, 0, 0.9);
		}

		.colorList {
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			p {
				width: 25%;
				height: 26px;
				float: left;
				margin: 17px 0 16px 0;

				span {
					display: block;
					width: 60px;
					height: 26px;
					margin: 0 auto;
					cursor: pointer;
					border-radius: 13px;
					border: 2px solid transparent;
				}

				&.active {
					span {
						border-color: #FFFFFF;
					}
				}
			}
		}

		.tool {
			width: 100%;
			margin: 15px 0;

			p {
				width: calc(25% - 1px);
				float: left;
				color: #FEFEFE;
				font-size: 20px;
				text-align: center;
				line-height: 30px;
				cursor: pointer;
				border-left: 1px solid rgba(255, 255, 255, 0.2);

				&:first-child {
					width: 25%;
					border-left: none;
				}
			}
		}
	}

	#annotate {
		display: block;
		width: 500px;
		max-width: 100%;
		padding: 12px 20px;
		position: fixed;
		z-index: 1100;
		background: rgba(244, 238, 233, 1);
		border: 1px solid rgba(204, 204, 204, 1);
		box-shadow: 0px 0px 10px 0px rgba(0, 1, 24, 0.2);
		border-radius: 6px;

		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			position: absolute;
			top: -6px;
			left: 0;
			right: 0;
			margin: auto;
			transform: rotateZ(45deg);
			z-index: 1000;
			background: rgba(244, 238, 233, 1);
			border: 1px solid rgba(204, 204, 204, 1);
		}

		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 7px;
			position: absolute;
			top: -1px;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 1100;
			background: rgba(244, 238, 233, 1);
		}

		&.top {
			&:before {
				top: unset;
				bottom: -6px;
			}

			&:after {
				top: unset;
				bottom: -1px;
			}
		}

		p {
			color: #999999;
			font-size: 22px;
			line-height: 40px;
		}

		span {
			display: block;
			margin: 10px 0 18px 0;
			color: #333333;
			font-size: 18px;
			line-height: 20px;
		}

		.complete {
			display: block;
			padding: 0 30px;
			float: right;
			margin-top: 12px;
			color: #FFFFFF;
			font-size: 18px;
			line-height: 36px;
			border-radius: 18px;
			background: #3652F8;
			cursor: pointer;
		}
	}

	#noteTipsList {
		pointer-events: none;
		#noteTips {
			display: block;
			width: 20px;
			height: 20px;
			//position: fixed;
			position: absolute;
			z-index: 1000;
			cursor: pointer;
			text-align: center;
			background: #3652F8;
			border-radius: 20px;

			&.default {
				background: #3652F8;
			}

			&.green {
				background: #1CB555;
			}

			&.orange {
				background: #F19149;
			}

			&.blue {
				background: #00A0E9;
			}

			&.violet {
				background: #C490BF;
			}

			span {
				width: 4px;
				height: 4px;
				float: left;
				margin: 8px 1px;
				border-radius: 4px;
				background: #FFFFFF;

				&:first-child {
					margin-left: 2px;
				}
			}

			div.content {
				display: block;
				width: 280px;
				height: 60px;
				padding: 14px 15px;
				position: fixed;
				margin: auto;
				background: rgba(255, 231, 195, 1);
				border: 1px solid rgba(250, 205, 137, 1);
				box-shadow: 0px 0px 10px 0px rgba(0, 1, 24, 0.2);
				border-radius: 6px;

				&:before {
					content: '';
					display: block;
					width: 10px;
					height: 10px;
					position: absolute;
					bottom: -6px;
					left: 0;
					right: 0;
					margin: auto;
					transform: rotateZ(45deg);
					z-index: 1000;
					background: rgba(255, 231, 195, 1);
					border: 1px solid rgba(250, 205, 137, 1);
				}

				&:after {
					content: '';
					display: block;
					width: 12px;
					height: 7px;
					position: absolute;
					bottom: -1px;
					left: 0;
					right: 0;
					margin: auto;
					z-index: 1100;
					background: rgba(255, 231, 195, 1);
				}

				p {
					width: 100%;
					color: #9D5E00;
					font-size: 18px;
					line-height: 30px;
					text-align: left;
				}
			}
		}
	}

	#imgDialog {
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;
		background: rgba(0, 0, 0, 0.8);

		img {
			display: block;
			max-width: 96%;
			max-height: 96%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}

	#message {
		display: block;
		width: 300px;
		height: 60px;
		padding: 20px;
		position: fixed;
		top: 5%;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 2000;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 10px;

		p {
			width: 100%;
			color: #FFFFFF;
			font-size: 18px;
			line-height: 20px;
			text-align: center;
		}
	}
}
