.app-container {

}

#index-container {
	width: 100%;
	margin: 0 auto;
	color: #666666;
	background-color: #FBFBFB;

	#wrapper {
		display: block;
		width: 90%;
		max-width: 1540px;
		height: calc(100vh - 56px);
		position: fixed;
		top: 56px;
		left: 0;
		right: 0;
		margin: auto;
	}

	@media (min-width: 600px) {
		#wrapper {
			height: calc(100vh - 64px);
			top: 64px;
		}
	}

	#wrapper {
		.title {
			width: 100%;
			padding: 20px 0;

			span {
				float: left;
				margin-left: 5px;
				color: #A9A9A9;
				font-size: 18px;
				line-height: 20px;
				user-select: none;

				&.last {
					color: #666666;
				}
			}
		}

		.book-container {
			width: 100%;
			height: calc(100% - 60px);
			padding-bottom: 36px;
			position: relative;

			.prev, .next {
				width: 40px;
				height: 150px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				text-align: center;
				line-height: 150px;
				cursor: pointer;
				border: 1px solid rgba(34, 36, 48, 0.2);
				border-radius: 6px;

				i {
					color: rgba(34, 36, 48, 0.5);
					font-size: 30px;
				}
			}

			.prev {
				left: 0;
			}

			.next {
				right: 0;
			}

			.bookBox {
				width: calc(100% - 110px);
				height: 100%;
				padding: 20px 55px;
				float: left;
				margin-left: 55px;
				position: relative;
				background-color: #ffffff;
				box-shadow: 0px 0px 10px 0px rgba(0, 61, 202, 0.5);
				border-radius: 10px;

				.top, .bottom {
					color: #999999;
					font-size: 18px;
					line-height: 20px;
					user-select: none;

					span {
						&:first-child {
							float: left;
						}

						&:last-child {
							float: right;
						}
					}

					i {
						position: absolute;
						top: -2px;
						right: 16px;
						color: #FF0000;
						font-size: 28px;
						line-height: 32px;
					}
				}

				.top {
					margin-bottom: 20px;
				}

				.bottom {
					margin-top: 20px;
				}

				#book {
					width: 100%;
					height: calc(100% - 80px);
					user-select: none;
					//background-color: royalblue;
				}
			}
		}
	}

	.arrow {
		position: absolute;
		top: 50%;
		margin-top: -32px;
		font-size: 64px;
		color: rgba(34, 36, 48, 1);
		font-family: arial, sans-serif;
		font-weight: bold;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 40px;
		height: 150px;
		border: 1px solid rgba(34, 36, 48, 1);
		opacity: 0.2;
		border-radius: 6px;
		line-height: 130px;
		text-align: center;
	}

	#prev {
		left: 40px;
	}

	#next {
		right: 40px;
	}

	.drawer-container {
		display: block;
		width: 80%;
		max-width: 570px;
	}
}
